{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>meu Café Perfeito</title>

    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'cafeperfeito/img/sistema/Favicons/favicon.ico' %}" type="image/x-icon"/>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet"
          type="text/css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css"/>

    <!-- Bootstrap Core Css -->
    <link rel="stylesheet" href="{% static 'cafeperfeito/css/normalize.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'cafeperfeito/bootstrap-4-2/css/bootstrap.min.css' %}">
    {#    <link href="{% static 'cafeperfeito/bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet"/>#}


    <!-- Themes. You can choose a theme from css/themes instead of get all themes -->
    <link rel="stylesheet" href="{% static 'cafeperfeito/css/sidtm.min.css' %}" type="text/css"/>

</head>
<body class="background-page">
{#<body class="tema-cafe-perfeito">#}
<!-- Pagina de carregamento -->
<div class="carregamento-pagina">
    <div class="carregamento">
        <div class="estatico">
            {#                        <div class="carregamento-em-barras">#}
            {#                            <div class="barra-animada1"></div>#}
            {#                            <div class="barra-animada2"></div>#}
            {#                            <div class="barra-animada3"></div>#}
            {#                            <div class="barra-animada4"></div>#}
            {#                            <div class="barra-animada5"></div>#}
            {#                        </div>#}
            <div class="loader-line-mask one">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-mask two">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-mask three">
                <div class="loader-line"></div>
            </div>
            <div class="loader-line-mask four">
                <div class="loader-line"></div>
            </div>
        </div>
        <p>Aguarde por favor...</p>
    </div>
</div>
<!-- #FIM# Pagina de carregamento -->
<!-- Sobrescreve Menu Laterais -->
<div class="overlay"></div>
<!-- #FIM# Sobrescreve Menu Laterais -->
<!-- Caixa de busca -->
<div class="caixa-pesquisa">
    <label class="pesquisa-icone"><i class="material-icons md-24">search</i></label>
    <input type="text" placeholder="Pesquisar por..."/>
    <label class="fecha-pesquisa"><i class="material-icons md-24">close</i></label>
</div>
<!-- #FIM# Caixa de busca -->

<!-- Menu superior -->
<nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">SIDTM - Café Perfeito</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<!--#FIM# Menu superior -->


<!-- Jquery Core Js -->
<script src="{% static 'cafeperfeito/js/jquery-3.2.1.min.js' %}"></script>
{#<script src="{% static 'cafeperfeito/js/jquery-3.2.1.slim.min.js' %}"></script>#}

<!-- Bootstrap Core Js -->
<script src="{% static 'cafeperfeito/bootstrap-4-2/js/popper.min.js' %}"></script>
<script src="{% static 'cafeperfeito/bootstrap-4-2/js/bootstrap.min.js' %}"></script>
{#<script src="{% static 'cafeperfeito/bootstrap-3.3.7/js/npm.js' %}"></script>#}
{#<script src="{% static 'cafeperfeito/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>#}

{#<!-- SIDTM Js -->#}
<script src="{% static 'cafeperfeito/js/sidtm.js' %}"></script>

</body>

</html>


